// - - - - - - - - - - - - - - - - - - -
// - - topbar module
// styles for the topbar module

.is-topbar {
  background-color: $primary;
  color: $text-invert;
}


.nav.is-topbar {
  .nav-item a, a.nav-item {
    color: $text-invert;
  }
}
