<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Platform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<nav class="nav is-boxed is-topbar">
  <div class="container">
    <div class="nav-left">
      <a href="#" class="nav-item">
        Hello
      </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <a class="nav-item is-active">
        <i class="fa fa-home is-hidden"></i>&nbsp;
        <span>Home</span>
      </a>
      <a class="nav-item">
        <i class="fa fa-bell is-hidden"></i>&nbsp;
        <span>Notifications</span>
      </a>
      <a class="nav-item">
        <i class="fa fa-star is-hidden"></i>&nbsp;
        <span>Subscriptions</span>
      </a>
      <a class="nav-item">
        <i class="fa fa-envelope is-hidden"></i>&nbsp;
        <span>Messages</span>
      </a>
      <a class="nav-item">
        <i class="fa fa-envelope is-hidden"></i>&nbsp;
        <span>Log In</span>
      </a>
    </div>

    <!--<div class="nav-right nav-menu">-->
    <!--<div class="nav-item">-->
    <!--<div class="field has-addons">-->
    <!--<p class="control">-->
    <!--<input class="input" type="text" placeholder="Find a post">-->
    <!--</p>-->
    <!--<p class="control">-->
    <!--<button class="button">-->
    <!--Search-->
    <!--</button>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</nav>

<nav>
  <div class="container">
    <div class="tabs">
      <ul>
        <li class="is-active"><a href="#">Hot</a></li>
        <li><a href="#">Trending</a></li>
        <li><a href="#">Rising</a></li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="container">
    <div class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <a href="#">
            <img src="http://bulma.io/images/placeholders/128x128.png">
          </a>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">
              <strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </strong>
            </a><br>
            <small><span>31m</span> &middot; <a href="#"><span>@johnsmith</span></a></small>
          </p>
        </div>
      </div>
    </div>
    <div class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <a href="#">
            <img src="http://bulma.io/images/placeholders/128x128.png">
          </a>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">
              <strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </strong>
            </a><br>
            <small><span>31m</span> &middot; <a href="#"><span>@johnsmith</span></a></small>
          </p>
        </div>
      </div>
    </div>
    <div class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <a href="#">
            <img src="http://bulma.io/images/placeholders/128x128.png">
          </a>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">
              <strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </strong>
            </a><br>
            <small><span>31m</span> &middot; <a href="#"><span>@johnsmith</span></a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>
